@import 'bootstrap/scss/bootstrap';
@import '../styles/variables';

* {
   margin: 0;
   padding: 0;
}

html, body {
   height: 100vh;
   background-color: #fafafa;
}

.form-control {
   border: solid 2px #ddd;
   transition: border 200ms ease;
   &:focus {
      box-shadow: none;
      border: solid 2px $primary;
   }
}

