<section class="mt-5 d-flex align-items-center row">
   <span class="col-sm-12 col-md-6 col-lg-6 text-secondary">
      <div>
         <h3 class="h2">RNG cloud.</h3>
         <h4 class="h5">A melhor solução em cloud para você e sua empresa.</h4>
      </div>

      <p class="h6">
         A RNG Clound atua a mais de 15 anos no mercado, com diversos tipos de produtos e serviços, com os melhores
         profissionais do mercado de clound do Brasil, não perca tempo e venha para a RNG Clound.
      </p>
      <button class="btn btn-lg col-12 mt-5 text-white">Começar agora!</button>
   </span>

   <span class="col-sm-12 col-md-6 col-lg-6">
      <img class="img-fluid" src="../../../assets/imgs/Cloud sync-rafiki.svg" width="500" height="500"
         alt="RNG Clound image">
   </span>
</section>