<section style="margin-top: 10rem;">
   <span class="text-center text-secondary">
      <h3 class="h2">Nossos preços!</h3>
      <p>
         Escolha aquele plano que seja melhor para você ou para a sua empresa, temos planos para todos os tipos de
         clientes.
      </p>
   </span>

   <span class="mt-5 mb-3 row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
         <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
               <h4 class="my-0 fw-normal">Gratuito</h4>
            </div>

            <div class="card-body">
               <h1 class="card-title pricing-card-title">
                  R$0
                  <small class="text-muted fw-light">/mês</small>
               </h1>
               <ul class="list-unstyled mt-3 mb-4">
                  <li>1 Usuário </li>
                  <li>15 GB de armazenamento</li>
                  <li>Suporte simples por e-mail</li>
                  <li>Acesso à central de ajuda</li>
               </ul>
               <button type="button" class="w-100 btn btn-lg">Plano gratuito</button>
            </div>
         </div>
      </div>

      <div class="col">
         <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
               <h4 class="my-0 fw-normal">Profissional</h4>
            </div>

            <div class="card-body">
               <h1 class="card-title pricing-card-title">
                  R$14,99
                  <small class="text-muted fw-light">/mês</small>
               </h1>
               <ul class="list-unstyled mt-3 mb-4">
                  <li>15 Usuário </li>
                  <li>150 GB de armazenamento</li>
                  <li>Suporte avançado por e-mail</li>
                  <li>Acesso à central de ajuda 24/hrs</li>
               </ul>
               <button type="button" class="w-100 btn btn-lg">Plano profissional</button>
            </div>
         </div>
      </div>

      <div class="col">
         <div class="card cardPremium mb-4 rounded-3 shadow-sm">
            <div class="card-header cardHeaderPremium py-3">
               <h4 class="my-0 fw-normal">Empreendedor</h4>
            </div>

            <div class="card-body">
               <h1 class="card-title pricing-card-title">
                  R$99,59
                  <small class="text-muted fw-light">/mês</small>
               </h1>
               <ul class="list-unstyled mt-3 mb-4">
                  <li>100 Usuário </li>
                  <li>500 GB de armazenamento</li>
                  <li>Suporte avançado por e-mail, chat e telefone</li>
                  <li>Acesso à central de ajuda com os nossos especialistas</li>
               </ul>
               <button type="button" class="w-100 btn btn-lg">Plano empreendedor</button>
            </div>
         </div>
      </div>

   </span>
   <rng-price-table></rng-price-table>
</section>